*{
    padding: 0%;
    margin: 0%;
}

.titulo{

    color: #f9d861;

}
body{
    background-image: url(https://img.freepik.com/fotos-premium/resumen-fondo-diseno-imagenes-fondos-pantalla-ai-generado_643360-83016.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
p{
    color: rgb(255, 255, 255);
    text-align: justify;
}
h2{
    color: #f9d861;
}

aside a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    

    
}

.iconos{
    display: flex;
    margin-top: 10px;
    padding: 5px;
    justify-content: center;
}
li{
    display: inline-block;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    color: #61f984;

}
li a{
    text-decoration: none;
    color: #61f984;
    font-size: 20px;
}

.fa-solid{

    margin-top: 20px;
    margin-left: 10PX;
}

.fa-brands{
    margin:5px;
}

nav h1{
    text-align: center;
    color: bisque;
    font-size: 30px;
}

.yanaconas
{
    height: 200px;
    width: 460px;
    border: 3px solid rgb(0, 0, 0);
    
}

.parqueCafe{
    height: 200px;
    width: 430px;
    border: 3px solid rgb(0, 0, 0);
}

.tardesCalenas{
    height: 200px;
    width: 430px;
    border: 3px solid rgb(0, 0, 0);
  
}

.ukumari{
    height: 200px;
    width: 460px;
    border: 3px solid rgb(0, 0, 0);
}

.sanCipriano{
    
    height: 200px;
    width: 430px;
    border: 3px solid rgb(0, 0, 0);
}

.termales{
    height: 200px;
    width: 430px;
    border: 3px solid rgb(0, 0, 0);
}
footer h2{
    text-align: center;
    margin-top: 10px;
}

.fa-brands{
    margin-bottom: 10px;

}

.contenedor{

    height:100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.8fr 3fr 2fr 2fr 2fr 0.8fr;
    grid-gap: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


    grid-template-areas: 'nav nav nav nav'
                         'aside main main main'
                         'aside contenido1 contenido2 contenido3'
                         'aside contenido4 contenido5 contenido6'
                         'aside footer footer footer';
}


.nav{
    grid-area: nav;
   
}
.aside{
    grid-area: aside;
   
}
.main{
    grid-area: main;
   
}
.contenido1{
    display: flex;
    grid-area: contenido1;
    justify-content: center;
    align-items: center;
}
.contenido2{
    display: flex;
    grid-area: contenido2;
    justify-content: center;
    
}
.contenido3{
    display: flex;
    grid-area: contenido3;
    justify-content: center;
}
.contenido4{
    display: flex;
    justify-content: center;
    grid-area: contenido4;
}
.contenido5{
    display: flex;
    justify-content: center;
    grid-area: contenido5;
}
.contenido6{
    display: flex;
    justify-content: center;
    grid-area: contenido6;

}
.footer{
    grid-area: footer;
    
}


@media (max-width:480px) {
    
    .contenedor{
    height:300%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.8fr 3fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 0.8fr;
    grid-gap: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


    grid-template-areas: 'nav'
                         'aside'
                         'main'
                         'contenido1'
                         'contenido2'
                         'contenido3'
                         'contenido4'
                         'contenido5'
                         'contenido6'
                         'footer';
    }


    .yanaconas
{
    height: 200px;
    width: 470px;
    border: 3px solid rgb(0, 0, 0);
    
}

.parqueCafe{
    height: 200px;
    width: 470px;
    border: 3px solid rgb(0, 0, 0);
}

.tardesCalenas{
    height: 200px;
    width: 470px;
    border: 3px solid rgb(0, 0, 0);
  
}

.ukumari{
    height: 200px;
    width: 470px;
    border: 3px solid rgb(0, 0, 0);
}

.sanCipriano{
    
    height: 200px;
    width: 470px;
    border: 3px solid rgb(0, 0, 0);
}

.termales{
    height: 200px;
    width: 470px;
    border: 3px solid rgb(0, 0, 0);
}

}

@media (min-width:481px) and (max-width:768px) {

    .contenedor{
    height:100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.8fr 3fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 0.8fr;
    grid-gap: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


    grid-template-areas: 'nav nav'
                         'aside aside'
                         'main main'
                         'contenido1 contenido1'
                         'contenido2 contenido2'
                         'contenido3 contenido3'
                         'contenido4 contenido4'
                         'contenido5 contenido5'
                         'contenido6 contenido6'
                         'footer footer';
                         
    }



   aside {
    font-size: px;
   }

   .yanaconas
    {
        height: 200px;
        width: 500px;
        border: 3px solid rgb(0, 0, 0);
        
    }
    
    .parqueCafe{
        height: 200px;
        width: 500px;
        border: 3px solid rgb(0, 0, 0);
    }
    
    .tardesCalenas{
        height: 200px;
        width: 500px;
        border: 3px solid rgb(0, 0, 0);
      
    }
    
    .ukumari{
        height: 200px;
        width: 500px;
        border: 3px solid rgb(0, 0, 0);
    }
    
    .sanCipriano{
        
        height: 200px;
        width: 500px;
        border: 3px solid rgb(0, 0, 0);
    }
    
    .termales{
        height: 200px;
        width: 500px;
        border: 3px solid rgb(0, 0, 0);
    }

}
@media (min-width:769px) and (max-width:1278px) {

    .contenedor{
    height:100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.8fr 3fr 2fr 2fr 2fr 2fr 2fr 2fr 0.8fr;
    grid-gap: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


    grid-template-areas: 'nav nav nav'
                         'aside main main'
                         'aside contenido1 contenido1'
                         'aside contenido2 contenido2'
                         'aside contenido3 contenido3'
                         'aside contenido4 contenido4'
                         'aside contenido5 contenido5'
                         'aside contenido6 contenido6'
                         'aside footer footer';
                         
    }

    .yanaconas
    {
        height: 200px;
        width: 500px;
        border: 3px solid rgb(0, 0, 0);
        
    }
    
    .parqueCafe{
        height: 200px;
        width: 500px;
        border: 3px solid rgb(0, 0, 0);
    }
    
    .tardesCalenas{
        height: 200px;
        width: 500px;
        border: 3px solid rgb(0, 0, 0);
      
    }
    
    .ukumari{
        height: 200px;
        width: 500px;
        border: 3px solid rgb(0, 0, 0);
    }
    
    .sanCipriano{
        
        height: 200px;
        width: 500px;
        border: 3px solid rgb(0, 0, 0);
    }
    
    .termales{
        height: 200px;
        width: 500px;
        border: 3px solid rgb(0, 0, 0);
    }

}

@media (min-width:1278px) and (max-width:1496px) {

    .contenedor{
        height:100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 3fr 3fr 2fr 2fr 2fr 2fr 2fr 2fr 0.8fr;
        grid-gap: 3px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    
        grid-template-areas: 'nav nav nav'
                             'aside aside aside'
                             'main main main'
                             'contenido1 contenido1 contenido1'
                             'contenido2 contenido2 contenido2'
                             'contenido3 contenido3 contenido3'
                             'contenido4 contenido4 contenido4'
                             'contenido5 contenido5 contenido5'
                             'contenido6 contenido6 contenido6'
                             'footer footer footer';
}

.yanaconas
{
    height: 500px;
    width: 900px;
    border: 3px solid rgb(0, 0, 0);
    
}

.parqueCafe{
    height: 500px;
    width: 900px;
    border: 3px solid rgb(0, 0, 0);
}

.tardesCalenas{
    height: 500px;
    width: 900px;
    border: 3px solid rgb(0, 0, 0);
  
}

.ukumari{
    height: 500px;
    width: 900px;
    border: 3px solid rgb(0, 0, 0);
}

.sanCipriano{
    
    height: 500px;
    width: 900px;
    border: 3px solid rgb(0, 0, 0);
}

.termales{
    height: 500px;
    width: 900px;
    border: 3px solid rgb(0, 0, 0);
}
}

.container{
    height:100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.8fr 3fr 2fr 2fr 0.8fr;
    grid-gap: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


    grid-template-areas: 'nav nav nav nav'
                         'main main main main'
                         'contenido7 contenido9  contenido9 contenido11'
                         'contenido8 contenido10  contenido10 contenido12'
                         'footer footer footer footer';


}

.contenido7{
    grid-area: contenido7;
}
.contenido8{
    grid-area: contenido8;
}
.contenido9{
    grid-area: contenido9;
}
.contenido10{
    grid-area: contenido10;
}
.contenido11{
    grid-area: contenido11;
}
.contenido12{
    grid-area: contenido12;
}